#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.comments {
  margin: 1em;
  height: 100%;
  display: grid;
  gap: 10px;
}
.card {
  padding: 2em;
  background-color: #88888862;
  border-radius: 5px;
}

.comment,
.reply {
  display: grid;
  background-color: #7171719e;
  gap: 5px;
  color: #eaeaea;
}

.reply {
  background-color: #aaaaaa9e;
  align-self: center;
  margin:  0 5px;
  height: min-content;
  padding: 0;
  width: 60%;
  margin: 0 auto;
}
.reply span {
  text-align: center;
}

form {
  background-color: rgba(128, 128, 128, 0.599);
  margin: 0 auto;
  padding: 1em;
  width: 40%;
  display: grid;
  gap: 0.6em;
}